
/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}

.label_required_input{
    color: red;
}

.navbar-brand {
    padding: 0px; /* firefox bug fix */
}

.navbar-brand img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
}
